{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="ui fluid card" id="comparerAttributesColumn">
    <div class="comparer-attributes">
        <table id="sylius-product-attributes" class="ui definition table">
            <tbody>
                {% for attribute in attributes %}
                    <tr><td>{{ attribute }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>