{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

<div class="ui one column stackable grid">
    <div class="one column">
        {{ messages.info('locastic_sylius_comparer_plugin.ui.empty_comparer_notice'|trans) }}
    </div>
</div>